@import url('http://fonts.cdnfonts.com/css/circular-std-book');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    background-color: #E5E5E5;
    color: #071C35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Circular Std Book', sans-serif;
}

a {
    color: #071C35 !important;
}

a:hover {
    color: #047469 !important;
}

a.btn:hover {
    color: #fff !important;
}

.fs-80 {
    font-size: 80px;
    font-weight: 92px;
}

.fs-40 {
    font-size: 40px;
    line-height: 54px;
}

.fs-50 {
    font-size: 50px;
    font-weight: 54px;
    font-weight: 600;
}

.fs-12 {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.fs-18 {
    font-size: 18px;
    line-height: 30px;
}

.fs-20 {
    font-size: 20px;
    line-height: 32px;
}

.fs-22 {
    font-size: 22px;
    line-height: 22px;
}

.fs-24 {
    font-size: 24px;
    line-height: 36px;
}

p {
    color: #7D90A6;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.ls-2 {
    letter-spacing: 0.2em;
}

.font-circular {
    font-family: 'Circular Std Book', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.bg-theme {
    background: #047469;
}

.color-theme {
    color: #047469 !important;
}

#section-navbar {
    background: linear-gradient(180deg, #E6E6E6 -57%, rgba(255, 255, 255, 0) 44%) #fff;
    border: 1px solid #F2F2F2;
}

#section-navbar .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}

#section-navbar .navbar-nav .nav-link.active {
    color: #047469 !important;
}

#section-header {
    background: linear-gradient(180deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    padding: 5rem 0px;
}

.btn-google {
    background: #F7FFFE;
    border: 0.4px dashed #00A7A6;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
    border: 0.4px dashed #00A7A6;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline;
    padding: 8px 20px;
}

.btn-google span {
    margin-right: 10px;
}

.header-buttons .btn {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.header-buttons .btn-header {
    color: #fff !important;
    padding: 15px 50px;
    border-radius: 13px;
    margin-right: 40px;
    border: 1px solid #00A7A6;
}

.header-buttons .btn-header:hover {
    background: transparent !important;
    color: #00A7A6 !important;
}

.header-buttons .btn-play {
    padding: 18px 26px;
    background: #FFB902;
    box-shadow: 0px 14px 30px rgba(255, 186, 96, 0.3);
}

.header-buttons .btn-play:hover {
    background: #454545 !important;
}

.header-row-bg {
    background: url(../images/header-right-bg.png) no-repeat top center;
    background-position: 200px;
}

.btn-outline-success {
    border-color: #00A7A6;
}

.btn-outline-success:hover {
    background-color: #00A7A6;
}

.left--80 {
    left: -80px
}

#section-services {
    padding: 0px 0px 5rem 0px
}

#section-services .card {
    box-shadow: 0px 14px 10px rgba(152, 163, 175, 0.02);
    border-radius: 10px;
    margin-bottom: 20px;
}

#section-about-1 .left-content {
    width: 294.72px;
    height: 315.26px;
    bottom: 80px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 20px 44px 53px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#section-about-1 .left-content .text {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    align-items: center;
}

#section-about-1 .left-content .text span {
    color: #047469;
}

#section-about-2 {
    padding-top: 130px;
}

#section-about-2 .workflow {
    padding-top: 120px
}

#section-comment {
    margin: 240px 0px 0px 0px
}

#section-partners {
    margin: 165px 0px;
}

footer {
    background: #071C35;
    padding: 100px;
}

footer .social-links a {
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    padding-top: 12px;
    font-size: 14px;
    margin-right: 8px;
}

footer .social-links a:hover {
    background: #fff !important;
    color: #071C35 !important;
}

footer .social-links a.fa-facebook {
    background: #3B5999;
}

footer .social-links a.fa-twitter {
    background: #1C9DEC;
}

footer .social-links a.fa-google-plus {
    background: #CB3E2D;
}

footer .social-links a.fa-linkedin {
    background: #3C86AD;
}

footer .footer-links li a {
    color: #DEDEDE !important;
    text-decoration: none;
    line-height: 45px;
}

footer .footer-links li a:hover {
    color: #fff !important;
}

#section-contact {
    background: linear-gradient(180deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
    padding: 2rem 0px;
}

#section-contact .contact-info li {
    list-style: none;
}

#section-contact .contact-info li i {
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 15px;
    background: #047469;
    color: #fff;
    font-size: 25px;
    padding-top: 12px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#section-contact .contact-info li a {
    text-decoration: none;
    color: #383838 !important;
}

#section-contact #contact-form .form-group {
    margin-bottom: 20px;
}

#section-contact #contact-form label {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

#section-contact #contact-form .form-control::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #656565
}

#section-contact #contact-form .form-control {
    border-color: #f8f9fa!important;
    border-radius: 5px;
    padding: 12px 25px
}

@media (max-width: 768px) {
    .fs-80 {
        font-size: 2rem;
        font-weight: 92px;
    }
    #section-header {
        padding: 2rem 0px;
    }
    #section-about-1 .left-content {
        position: relative !important;
        width: auto !important;
        height: auto !important;
        bottom: 0px !important
    }
    #section-comment {
        margin-top: 120px
    }
    #section-comment .col-sm-5 img {
        position: relative !important;
        left: 0px;
    }
    footer {
        padding: 40px 25px !important
    }
}